
body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    color: #1e1e2a; 
}

.header-container{
    width: 100%;
    height: 100vh;
    background-image:url('../PORTIFOLIO/imagens/2290052-floresta-a-noite-vetor.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding:0 100px;
    position: relative;
    background-attachment: fixed;
}
.header-container h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}
.header-container h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}
.sosialMedia{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sosialMedia a{
    color: white;
    text-decoration: none;
    padding: 15px 4rem;
    min-width: 4rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sosialMedia a:first-child{
    border-right: none;
}
/* ==== SECTION === */
.section-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 100px;
}
.foto-img{
    display: none;
    width: 180px;
    height: 180px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    border-radius: 50%;
}
.aboutme{
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.aboutme-title h2{
    color: black;
    text-align: center;
}
.aboutme-text  {
    text-align: justify;
}


/* === projects ===*/
.projects-main{
    background: rgb(0,0,0);
    background: linear-gradient(108deg, rgba(0,0,0,1) 0%, rgba(95,110,139,1) 100%);      
    background-attachment: fixed;
    width: 100%;

}
.projects-main h1{
    color: white;
    margin:0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,0.44);
}
.projects-area{
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    
}
.projects-text-area{
    display: none;
}
.project{
    width: 310px;
    height: 244px;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.44);
    align-content: flex-start;
}
.link-area{
    width: 310px;
    height: 220px;
    
}

.description {
    color: white;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.description p{
    margin: 0;
}
.project a img{
    background-color: white;
    width: 310px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.projects-text-area h2{
    color: white;
    font-family: 'Poppins',sans-serif;
}
.projects-text-area p {
    width: 600px;
    font-family: 'Poppins',sans-serif;
    color: white;
    text-align: justify;

}
.projects-text-area strong em{
    color: white;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.overlinktext{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 220px;
    border-radius: 10px;
}
.link-area:hover .overlinktext{
    display: flex;
}
.overlinktext h5{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* ===footer ===*/
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color:black;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==RESPONSIVIDADE== */

@media (min-width: 769px) and (max-width:1024px) {
    .section-container{
        padding: 0px;
        justify-content: space-evenly;
    }
    .aboutme{
        margin-left: 14px;
    }
    .projects-text-area{
        margin-left: 14px;
    }
    .projects-text-area p {
        width: auto;
    }
    .foto-img{
        display: none;
    }
}

@media (min-width:425px) and (max-width:768px){
    .header-container{
        padding: 0;
    }

    .section-container{
        padding: 0px;
        justify-content: space-evenly;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .foto-img{
        margin-top: 15px;
    }
    .aboutme{
        width: 72%;
    }
    .project{
        display: flex;
        align-content: flex-start;

    }
    .projects-area{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .projects-text-area p {
        width: auto;
        display: none;
    
    }
}
@media (min-width:320px) and (max-width:424px){
    .foto-img{
        display: none;
    }
    .header-container h1{
        font-size: 37px;
    }
    .header-container{
        padding: 0;
    }
    .header-container h2{
        letter-spacing: 0;
    }
    .sosialMedia{
        flex-direction: column;
    }
    .sosialMedia a:first-child{
        border: 2px solid white;
        border-bottom: none;
    }
    
    .section-container{
        padding: 0px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .project{
        display: flex;
        align-content: flex-start;
    }
    .projects-area{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .projects-text-area p {
        width: auto;
    
    }
    .aboutme{
        width: 72%;
    }
    .foto-img{
        margin-top: 15px;
    }
}