*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


/* ==== SECTION === */

.bg-color-about{
    background: rgb(19,19,26);
    background: linear-gradient(180deg, rgba(19,19,26,1) 83%, rgba(0,0,0,1) 100%);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me h2{
    color: #FFF;
    margin-bottom: 0.5rem;
}
.about-me p{
    color: #FFF;
    margin-bottom: 1rem;
}
.social-area{
    width: 120px;
    display: flex;
    justify-content: space-between;

}
.social-item a svg{
    width: 30px;
}
.curriculo-download{
    padding: 10px 8px;
    background-color: #FFF;
    margin-bottom: 2rem;
    text-decoration: none;
    border-radius: 6px;
    color:#000;
    border:  2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.curriculo-download:hover{
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #13131a;
}
.photo-img{
    width: 10rem;
    height: 10rem;
    background-color: #FFF;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.photo-img img{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 50%;
}
.skill-icons-area{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.skill-icons-area svg path{
    fill: #FFF;
}
/* === projects ===*/
.projects-main{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 98%, rgba(19,19,26,1) 100%);
    width: 100%;

}
.projects-main h1{
    color: #FFF;
    margin:0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,0.44);
}
.projects-area{
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    
}
.projects-text-area{
    display: none;
}
.project{
    width: 33%;
    height: 244px;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 90%, rgba(19,19,26,1) 100%);
    align-content: flex-start;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out ;
}
.project:hover{
    transform: scale(1);
}
.link-area{
    width: 100%;
    height: 220px;
    
}

.description {
    color: white;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.description p{
    margin: 0;
}
.project a img{
    background-color: white;
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.projects-text-area h2{
    color: white;
    font-family: 'Poppins',sans-serif;
}
.projects-text-area p {
    width: 600px;
    font-family: 'Poppins',sans-serif;
    color: white;
    text-align: justify;

}
.projects-text-area strong em{
    color: white;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.overlinktext{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 220px;
    border-radius: 10px;
}
.link-area:hover .overlinktext{
    display: flex;
}
.overlinktext h5{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* ===footer ===*/
footer{
    background-color: #13131a;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-mobile{
    display: none;
}
.menu-mobile-area{
    display: none;
}
footer p{
    color: #FFF;
    text-align: center;
}
/* ==RESPONSIVIDADE== */

@media (min-width: 769px) and (max-width:1024px) {
    .aboutme{
        margin-left: 14px;
    }
    .projects-text-area{
        margin-left: 14px;
    }
    .projects-text-area p {
        width: auto;
    }
    .social-area{
        width: 12%;
    }
   
}

@media (min-width:427px) and (max-width:768px){
  
    .foto-img{
        margin-top: 15px;
    }
    .aboutme{
        width: 72%;
    }
    .project{
        display: flex;
        align-content: flex-start;
        width: 80%;
    }
    .projects-area{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .projects-text-area p {
        width: auto;
        display: none;
    
    }
    .social-area{
        width: 14%;
    }
}
@media (min-width:375px) and (max-width:426px){
    
    .about-content p{
       font-size: 16px; 
    }
    .project{
        display: flex;
        align-content: flex-start;
        width: 100%;
    }
    .projects-area{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .projects-text-area p {
        width: auto;
    
    }
    .aboutme{
        width: 72%;
    }
    .foto-img{
        margin-top: 15px;
    }
    .social-area{
        width: 24%;
    }
}
@media (min-width:320px) and (max-width:375px){
    
    .skills-content{
        flex-direction: column;
    }
    .section-container{
        padding: 0px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .skills-left-side{
        width: 100%;
    }
    .skills-text-area{
        height: 76%;
    }
    .skills-text-area h1{
        font-size: 43px;
    }
    .skills-right-side{
        width: 100%;
    }
    .project, .link-area, .link-area a img{
        width: 100%;
    }
    .space-icons{
        width: 100%;
        height: 100%;
    }
    .about-content p{
       font-size: 14px; 
    }
    .project{
        display: flex;
        align-content: flex-start;
    }
    .projects-area{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .projects-text-area p {
        width: auto;
    
    }
    .aboutme{
        width: 72%;
    }
    .foto-img{
        margin-top: 15px;
    }
    .social-area{
        width: 31%;
    }
}

@-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  /**
 * ----------------------------------------
 * animation scale-down-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-ver-top {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-down-ver-top {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
